#section_2 
{
  width: 80%;
  justify-content: space-between;
  margin: auto;
  
}
.carousel-item
{
  width: 90%;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.carousel-item img 
{
  width: 60%;
}
.carousel-item p 
{
  width: 100%;
  text-align: justify;
}